body {
  background-color: #ffe6ef;
  color: #5c2a38;
  margin: 0;
  padding: 0;
}

header {
  text-align: center;
  padding: 40px 20px;
  background-color: #ffb6c1;
  border-bottom: 4px dashed #ff6fa5;
}

h1 {
  font-size: 2em;
  color: #ff3b7d;
  margin-bottom: 5px;
  font-family: 'Comic Sans MS',cursive ;
}

h2 {
  font-size: 2em;
  margin: 0;
  color: #fff;
  font-family: 'Comic Sans MS',Arial;
}
.project, .about, footer {
  background: #fff;
  margin: 30px auto;
  padding: 20px;
  border-radius: 20px;
  width: 85%;
  max-width: 600px;
  box-shadow: 0 8px 10px rgba(255, 100, 150, 0.3);
}

.profile {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  object-fit: cover;
  display: block;
  margin: 50px auto;
  position: relative;
  animation: boomerang 6s ease-in-out infinite;
}

@keyframes boomerang {
  0%   { transform: translate(0, 0); }
  20%  { transform: translate(80px, -5px); }
  50%  { transform: translate(0, 0); }
  80%  { transform: translate(-80px, -5px); }
  100% { transform: translate(0, 0); }
}
.btn {
  display: inline-block;
  background-color: #ff6fa5;
  color: white;
  text-decoration: none;
  padding: 8px 14px;
  border-radius: 12px;
  transition: 0.3s;
}

.btn:hover {
  background-color: #ff3b7d;
}

footer {
  text-align: center;
  background-color: #ffb6c1;
  padding: 20px;
  border-top: 4px dashed #ff6fa5;
}
.about {
text-align: justify;
}
